.default{
  background-color: var(--green);
  color: white;
  border: none;
}

.outline{
  background-color: white;
  color: var(--green);
  border: 2px solid var(--green);
  border-radius: 10px;
}

.signout{
  color: white;
  background-color: var(--orange);
}

.container{
  margin: auto 0 110px;
}