.container{
  border: 2px solid var(--pale-green);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.input{
  border: 2px solid var(--green);
  display: inline-block;
  min-width: auto;
  margin: 0;
  border-radius: 10px;
}