.header{
  text-align: center;
  font-weight: 400;
  padding-bottom: 30px;
}

.container{
  display: grid;
  grid-template-columns: 200px auto;
  gap: 30px;
  margin-bottom: 30px;
}

.title{
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 45px;
}

.img{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.disclaimer{
  text-align: center;
  padding-bottom: 15px;
}