.home_container{
  overflow-y: scroll;
  height: 100vh;
}

.header{
  padding-bottom: 30px;
  font-weight: 400;
}

.container{
  border-radius: 15px;
  border: 2px solid var(--green);
  padding: 15px;
  margin-bottom: 45px;
}