.header_container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: 33% 1fr;
  gap: 15px
}
.content_container{
  font-size: 24px;
}