.nav{
  position: absolute;
  inset: auto 0 0 0;
  background-color: var(--green);
  z-index: 10;
}

.nav_list{
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}

.nav_item{
  width: 100%;
  text-align: center;
}

.nav_text{
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.active{
  color: red;
}