.profile{
  text-align: center;
}

.option_container{
  display: flex;
  padding-bottom: 15px;
  align-items: center;
}

.left_container{
  display: flex;
  align-items: center;
}

.chevron{
  cursor: pointer;
  margin-left: auto;
}

.img{
  margin-right: 15px;
  width: 24px;
}