.organization_container{
  border-radius: 15px;
  border: 2px solid var(--green);
  padding: 15px;
  margin-bottom: 45px;
}

.bottom_container{
  display: flex;
  justify-content: space-between;
}

.img{
  width: 100%;
  cursor: pointer;
}

.progress{
  height: 5px;
  border-radius: 500px;
  background-color: var(--orange);
  width: 100%;
}