.container{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.top_container{
  position: relative;
}

.search_container{
  margin-left: 45px;
  margin-bottom: 30px;
}

.info_container{
  display: flex;
  justify-content: space-between;
}

.button_wrapper{
  margin: 15px 0;
}