.main_container{
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.top_container{
  position: relative;
}

.header{
  text-transform: capitalize;
}

.header_container{
  text-align: center;
}

.payment_options{
  color: black;
}

.total_container{
  display: flex;
  justify-content: space-between;
}

.button{
  margin-top: auto;
  margin-bottom: 30px;
}