.form{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  position: relative;
}

.input{
  opacity: 0;
  margin: auto;
  padding: initial;
  position: absolute;
  inset: 0;
  z-index: -1;
}