:root{
  --font-size: 20px;
  --green: #50AE86;
  --blue: #00A4E6;
  --pale-green: #B7D694;
  --dark-green: #183636;
  --orange: #FF8540;
  --gray: #707070;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  padding: 10px 5px;
  cursor: pointer;
  font-size: var(--font-size);
  border-radius: 10px;
  border: none;
  display: block;
}

input{
  margin-bottom: 30px;
  padding: 10px;
  font-size: var(--font-size);
  display: block;
  min-width: 100%;
}

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding:0 15px 30px;
  position: relative;
  overflow: hidden;
}

main > *:first-child{
  padding-top: 15px;
}