:root{
  --font-size: 20px;
  --green: #50AE86;
  --pale-green: #B7D694;
  --dark-green: #183636;
  --orange: #FF8540;
  --gray: #707070
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  padding: 5px;
  cursor: pointer;
  width: 100%;
  font-size: var(--font-size);
}

input{
  margin-bottom: 30px;
  padding: 10px 10px 10px 0;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: var(--font-size);
}